# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Debug files
.antigravityignore
.gemini/
antigravity-ide/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
